.start{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
}
.start img:nth-child(1){
	position: absolute;
	width: 100%;
	height: 100%;
}
.start img:nth-child(2){
	position: absolute;
	width: 40%;
	left: 30%;
	bottom: 20%;
}
.start img:nth-child(3){
	position: absolute;
	width: 15%;
	left: 75%;
	bottom: 18%;
}
.study-button-box{
	position: absolute;
	left: 23%;
	bottom: 20%;
}
.dian{
	animation:fadeIn 1.5s .5s linear infinite;
    -moz-animation:fadeIn 1.5s .5s linear infinite;
    -webkit-animation:fadeIn 1.5s .5s linear infinite;
    -o-animation:fadeIn 1.5s .5s linear infinite;
}
.video{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: 2;
}
.section1{display: none;}
.question{
	display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
}
.question>img{
	width: 100%;
	height: 100%;
}
.ques-p4{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0%;
	text-align: center;
}
.ques-p4>.ques-p4-1{
	text-align: center;
	margin-top: 10%;
	width: 80%;
}
.ques-p4>.ques-p4-2,.ques-p4>.ques-p4-3{
	margin-top: 20%;
	width: 40%;
}
.ques-p4>.ques-p4-3,.ques-p4>.ques-p4-5{
	margin-left: 5%;
}
.ques-p4>.ques-p4-4,.ques-p4>.ques-p4-5{
	margin-top: 15%;
	width: 40%;
}
.section2{display: none;}
.section3{display: none;}
